.dart_tool/
.build/
build/
.pub-cache/
.pub/
doc/api/
coverage/
*.g.dart
*.freezed.dart
.flutter-plugins-dependencies
.pub-cache/
.DS_Store
.idea/
*.iml
android/app/debug
android/app/profile
android/app/release
ios/Flutter/.last_build_id
.macos/
.codegraph/
autoresearch/
